Magic 271485
Revision Verdi_W-2024.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 2130 817 129 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/seanooi/TRAININGS/dv/uvm/spi/sim/spi_sim.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 921386.578005
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 21

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/seanooi/TRAININGS/dv/uvm/spi/sim/spi_sim.fsdb"
addSignal -h 15 -UNSIGNED -HEX /spi_tb/SLAVE_RESET_RESPONSE[7:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope slave_reset_response[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope slave_rx_data[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope slave_tx_data[7:0]
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /spi_tb/dut/bit_cnt[2:0]
addSignal -h 15 -holdScope busy
addSignal -h 15 -holdScope clk
addSignal -h 15 -UNSIGNED -HEX -holdScope clk_cnt[3:0]
addSignal -h 15 -holdScope cs_n
addSignal -h 15 -holdScope done
addSignal -h 15 -holdScope miso
addSignal -h 15 -holdScope mosi
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -UNSIGNED -HEX -holdScope rx_data[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rx_reg[7:0]
addSignal -h 15 -holdScope sclk
addSignal -h 15 -holdScope start
addSignal -h 15 -UNSIGNED -holdScope state[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tx_data[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tx_reg[7:0]
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/seanooi/TRAININGS/dv/uvm/spi/sim/spi_sim.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/spi_tb"

SCOPE_LIST_BEGIN
"/spi_tb"
"/spi_tb/spi_if0"
"/spi_tb/dut"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


